---
import { getImage } from 'astro:assets';
import favicon from '@/assets/favicon.png';
import faviconSvg from '@/assets/favicon.svg';
import { DOMAIN, LOCALE, THEME_COLOR } from '@/global/constants';
import sanityFetch from '@/utils/sanity.fetch';

const icon = {
  svg: await getImage({ src: faviconSvg, format: 'svg' }),
  appleTouchIcon: await getImage({
    src: favicon,
    width: 180,
    height: 180,
    format: 'png',
  }),
};

export type HeadProps = {
  path: string;
  title: string;
  description: string;
};

const seo = await sanityFetch<{ OpenGraphImageUrl: string }>({
  query: `
    *[_type == "global"][0] {
      "OpenGraphImageUrl": seo.OpenGraphImage.asset -> url + "?w=1200",
    }
  `,
});

const OpenGraphImageUrl = seo?.OpenGraphImageUrl || '';

const { path, title, description } = Astro.props as HeadProps;

const url = `${DOMAIN}${path}`;
---

<meta charset="utf-8" />
<title>{title}</title>
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" href="/favicon.ico" sizes="32x32" />
<link rel="icon" href={icon.svg.src} type="image/svg+xml" />
<link rel="apple-touch-icon" href={icon.appleTouchIcon.src} />
<meta name="theme-color" content={THEME_COLOR} />
<link rel="manifest" href="/manifest.webmanifest" />
<link rel="canonical" href={url} />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={title} />
<meta property="og:locale" content={LOCALE} />
<meta property="og:image" content={OpenGraphImageUrl} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={OpenGraphImageUrl} />
<meta name="twitter:image:width" content="1200" />
<meta name="twitter:image:height" content="630" />
<link rel="sitemap" href="/sitemap-index.xml" />
