---
import sanityFetch from "@/utils/sanity.fetch";
import metadataFetch from "@/utils/metadata.fetch";
import Layout from "../layouts/Layout.astro";
import Components, { Components_Query, type ComponentsProps } from "@/components/Components.astro";
import Button, { ButtonDataQuery, type ButtonDataTypes } from "@/components/ui/Button.astro";
import Markdown from "@/components/ui/markdown.astro";

const metadata = await metadataFetch("NotFound_Page");

const data = await sanityFetch<{
  Hero: { heading: string; paragraph: string; cta: ButtonDataTypes[] };
  components: ComponentsProps;
}>({
  query: `
    *[_type == "NotFound_Page"][0] {
      Hero {
        heading,
        paragraph,
        cta {
          ${ButtonDataQuery}
        }[],
      },
      ${Components_Query}
    }
  `,
});
---

<Layout {...metadata} path='/'>
  <section class='Hero'>
    <svg xmlns='http://www.w3.org/2000/svg' width='571' height='250' viewBox='0 0 571 250' fill='none'>
      <circle cx='6' cy='106.083' r='6' fill='#01403B' opacity='.6' class='circle1'></circle>
      <circle
        cx='79.53'
        cy='92.339'
        r='43.344'
        fill='#1CB6AA'
        opacity='.6'
        class='circle2'
        style='animation-delay: 0.2s'
      >
      </circle>
      <path
        fill='#01403B'
        d='M179.083 205.779h-25.8v43.8h-28.2v-43.8h-112.2v-26.1l102.3-147h38.1v147h25.8v26.1Zm-134.4-26.1h80.4v-115.8l-80.4 115.8Z'
        class='firstLetter'
        style='animation-delay: 0.3s'
      >
      </path>
      <g class='logo'>
        <path
          fill='#01403B'
          d='M195.012 156.037c-8.187 0-14.93-6.662-14.93-14.93a14.903 14.903 0 0 1 14.93-14.931c8.268 0 29.781 14.931 29.781 14.931s-21.593 14.93-29.781 14.93Z'
          class='drop'
          style='animation-delay: 0.5s'
        >
        </path>
        <g style='animation-delay: 0.55s'>
          <path
            fill='#0F9288'
            d='M219.737 100.408c0-1.204.321-2.408.963-3.532l34.677-60.203c1.927-3.372 6.342-4.576 9.713-2.569 3.371 1.927 4.575 6.342 2.569 9.713l-34.677 60.123c-1.927 3.371-6.342 4.575-9.713 2.568-2.248-1.284-3.532-3.692-3.532-6.181v.081Z'
          >
          </path>
          <path
            fill='#01403B'
            d='M244.378 57.704c0-1.204.321-2.408.963-3.532l10.114-17.5c1.927-3.37 6.342-4.575 9.713-2.568 3.371 1.927 4.575 6.342 2.569 9.713l-10.114 17.499c-1.927 3.371-6.342 4.575-9.713 2.569-2.248-1.285-3.532-3.693-3.532-6.181Z'
          >
          </path>
        </g>
        <g style='animation-delay: 0.6s'>
          <path
            fill='#0F9288'
            d='M236.915 117.586c0-2.489 1.284-4.817 3.532-6.181l60.203-34.677c3.371-1.927 7.786-.803 9.713 2.569 2.006 3.371.802 7.786-2.569 9.712l-60.123 34.677c-3.371 1.927-7.786.803-9.713-2.568-.642-1.124-.963-2.328-.963-3.532h-.08Z'
          >
          </path>
          <path
            fill='#01403B'
            d='M269.103 99.043c0-2.488 1.284-4.816 3.532-6.18l27.934-16.135c3.371-1.927 7.786-.803 9.713 2.569 2.006 3.37.802 7.786-2.569 9.712l-27.934 16.135c-3.372 1.926-7.787.802-9.713-2.569-.642-1.124-.963-2.328-.963-3.532Z'
          >
          </path>
        </g>
        <g style='animation-delay: 0.65s'>
          <path
            fill='#0F9288'
            d='M243.256 141.104c0-3.933 3.211-7.144 7.144-7.144h69.354c3.934 0 7.144 3.211 7.144 7.144 0 3.934-3.21 7.144-7.144 7.144H250.32c-3.933 0-7.144-3.21-7.144-7.144h.08Z'
          >
          </path>
          <path
            fill='#01403B'
            d='M268.301 141.104c0-3.933 3.211-7.144 7.144-7.144h44.309c3.934 0 7.144 3.211 7.144 7.144 0 3.934-3.21 7.144-7.144 7.144h-44.389c-3.934 0-7.145-3.21-7.145-7.144h.081Z'
          >
          </path>
        </g>
        <g style='animation-delay: 0.7s'>
          <path
            fill='#0F9288'
            d='M236.914 164.623c0-1.204.321-2.408.963-3.532 1.927-3.371 6.342-4.575 9.713-2.568l60.123 34.677c3.371 1.926 4.575 6.341 2.569 9.712-1.927 3.372-6.342 4.576-9.713 2.569l-60.123-34.677c-2.248-1.284-3.532-3.692-3.532-6.181Z'
          >
          </path>
          <path
            fill='#01403B'
            d='M269.1 183.252c0-1.204.321-2.408.963-3.532 1.926-3.372 6.341-4.576 9.713-2.569l27.934 16.135c3.371 1.926 4.575 6.341 2.569 9.712-1.927 3.372-6.342 4.576-9.713 2.569l-27.934-16.134c-2.248-1.285-3.532-3.693-3.532-6.181Z'
          >
          </path>
        </g>
        <g style='animation-delay: 0.75s'>
          <path
            fill='#0F9288'
            d='M219.737 181.885c0-2.488 1.284-4.816 3.532-6.18 3.371-1.927 7.786-.803 9.713 2.568l34.677 60.123c2.006 3.371.802 7.786-2.569 9.713-3.371 1.926-7.786.802-9.713-2.569L220.7 185.417c-.642-1.123-.963-2.328-.963-3.532Z'
          >
          </path>
          <path
            fill='#01403B'
            d='M244.378 224.59c0-2.489 1.284-4.816 3.532-6.181 3.371-1.927 7.786-.803 9.713 2.569l10.114 17.499c2.006 3.371.802 7.786-2.569 9.712-3.371 1.927-7.786.803-9.713-2.568l-10.114-17.499c-.642-1.124-.963-2.328-.963-3.532Z'
          >
          </path>
        </g>
      </g>
      <path
        fill='#01403B'
        d='M503.098 205.779h-25.8v43.8h-28.2v-43.8h-112.2v-26.1l102.3-147h38.1v147h25.8v26.1Zm-134.4-26.1h80.4v-115.8l-80.4 115.8Z'
        class='secondLetter'
        style='animation-delay: 0.7s'
      >
      </path>
      <circle
        cx='486.112'
        cy='85.039'
        r='84.54'
        fill='#0F9288'
        opacity='.2'
        class='circle3'
        style='animation-delay: 1s'
      >
      </circle>
    </svg>
    <header>
      <Markdown tag='h1'>{data.Hero.heading}</Markdown>
      <Markdown class='paragraph'>{data.Hero.paragraph}</Markdown>
      <div class='cta-wrapper'>
        {data.Hero.cta?.map(cta => <Button {...cta} />)}
      </div>
    </header>
  </section>
  <Components data={data?.components} indexStart={1} />
</Layout>

<style lang='scss'>
  .Hero {
    display: grid;
    align-items: center;
    gap: clamp(32px, calc(48vw / 7.68), 48px);
    @media (min-width: 1000px) {
      grid-template-columns: 1fr 1fr;
    }
    .paragraph {
      margin: clamp(12px, calc(20vw / 7.68), 20px) 0 clamp(28px, calc(36vw / 7.68), 36px);
    }
    .circle1,
    .circle2,
    .circle3 {
      animation: circle 1s var(--easing) both;
      transform-origin: center;
      transform-box: fill-box;
    }
    @keyframes circle {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    .firstLetter {
      animation: firstLetter 0.8s var(--easing) both;
      transform-origin: right bottom;
      transform-box: fill-box;
      @keyframes firstLetter {
        0% {
          transform: rotate(-13deg) scale(0);
        }
        100% {
          transform: rotate(0) scale(1);
        }
      }
    }
    .logo {
      .drop {
        animation: logo 0.8s var(--easing) both;
        transform-origin: left center;
        transform-box: fill-box;
      }
      g {
        animation: logo 0.8s 0.5s var(--easing) both;
        transform-origin: left center;
        transform-box: fill-box;
      }
      @keyframes logo {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
    }
    .secondLetter {
      animation: secondLetter 0.8s var(--easing) both;
      transform-origin: left bottom;
      transform-box: fill-box;
      @keyframes secondLetter {
        0% {
          transform: rotate(13deg) scale(0);
        }
        100% {
          transform: rotate(0) scale(1);
        }
      }
    }
  }
</style>
