---
import Image, { ImageDataQuery, type ImageDataTypes } from "@/components/ui/image.astro";
import Button, { ButtonDataQuery, type ButtonDataTypes } from "@/components/ui/Button.astro";
import Markdown from "../ui/markdown.astro";

export const HeaderSection_Query = `
  heading,
  paragraph,
  cta {
    ${ButtonDataQuery}
  }[],
  img {
    ${ImageDataQuery}
  }
`;

export type Props = {
  index: number;
  heading: string;
  paragraph: string;
  cta: ButtonDataTypes[];
  img: ImageDataTypes;
};

const { index, heading, paragraph, cta, img } = Astro.props;
---

<section class='HeaderSection'>
  <header>
    <Markdown tag='h2'>{heading}</Markdown>
    <Markdown class='paragraph'>{paragraph}</Markdown>
    <div class='cta-wrapper'>
      {cta.map(cta => <Button {...cta} />)}
    </div>
  </header>
  <Image
    data={img}
    loading={index === 0 ? "eager" : "lazy"}
    sizes='(max-width: 499px) 450px, (max-width: 899px) 595px, 520px'
    pictureAttributes={{
      class: "img",
    }}
  />
</section>

<style lang='scss'>
  .HeaderSection {
    display: grid;
    align-items: center;
    gap: 36px clamp(36px, calc(62vw / 7.68), 62px);
    @media (min-width: 900px) {
      grid-template-columns: 1.2fr 1fr;
    }
  }
  header {
    max-width: calc(595rem / 16);
  }
  .img {
    max-width: calc(595rem / 16);
  }
  .paragraph {
    margin: clamp(12px, calc(20vw / 7.68), 20px) 0 clamp(24px, calc(36vw / 7.68), 36px);
  }
</style>
